@mixin title {
    .title {
        font-family: 'Inter-Bold', sans-serif;
        font-size: 72px;
        color: #F2F2F2;
    }
}

@mixin title_line {
    .title_line {
        width: 190px;
        margin: 6px 0 54px 0;
        border: 2px solid #80D901;
    }
}

@mixin main_text {
    .main_text {
        font-family: 'Ubuntu-Regular', sans-serif;
        font-size: 18px;
        color: #F2F2F2;
    }
}

@mixin button {
    .button {
        font-family: 'Play-Bold', sans-serif;
        text-decoration: none;
        font-size: 24px;
        color: #F2F2F2;
        border: 3px solid #80D901;
        border-radius: 14px;
        padding: 13px 30px;
    }

    .button:hover {
        color: #222222;
        background-color: #80D901;
        transition: 0.4s;
    }
}

@mixin subtitle {
    .subtitle {
        font-family: 'Play-Bold', sans-serif;
        font-size: 64px;
        color: #f2f2f2;
    }
}

@mixin admin_form_title {
    .admin_form_title {
        font-family: 'Inter-Bold', sans-serif;
        font-size: 48px;
        text-align: center;
        color: $white;
        margin: 20px 0;
    }
}

@mixin admin_form {
    .admin_form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@mixin admin_input_create {
    .admin_input_create {
        width: 560px;
        height: 50px;
        font-family: 'Inter-Bold', sans-serif;
        font-size: 18px;
        border: 1px solid #222222;
        border-bottom: 3px solid #80D901;
        background-color: #222222;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 20px;
    }
}

@mixin admin_input_edit {
    .admin_input_edit {
        width: 580px;
        height: 50px;
        font-family: 'Inter-Bold', sans-serif;
        font-size: 18px;
        border: 1px solid #222222;
        border-bottom: 3px solid #80D901;
        background-color: #222222;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 20px;
    }
}

@mixin admin_form_create_button {
    .admin_form_create_button {
        font-family: 'Play-Bold', sans-serif;
        text-decoration: none;
        font-size: 24px;
        color: $white;
        background-color: $gray;
        border: 3px solid $green;
        border-radius: 14px;
        padding: 16px 220px;
        margin-bottom: 12px;
    }

    .admin_form_create_button:hover {
        color: $gray;
        background-color: $green;
        transition: 0.4s;
        cursor: pointer;
    }
}

@mixin admin_form_edit_button {
    .admin_form_edit_button {
        font-family: 'Play-Bold', sans-serif;
        text-decoration: none;
        font-size: 24px;
        color: $white;
        background-color: $gray;
        border: 3px solid $green;
        border-radius: 14px;
        padding: 16px 200px;
        margin-bottom: 12px;
    }

    .admin_form_edit_button:hover {
        color: $gray;
        background-color: $green;
        transition: 0.4s;
        cursor: pointer;
    }
}

@mixin admin_link_back {
    .admin_link_back {
        font-family: 'Inter-Regular', sans-serif;
        font-size: 16px;
        color: $white;
        text-decoration: none;
        margin: 0 190px 0 190px;
    }

    .admin_link_back:hover {
        color: $green;
        transition: 0.4s;
    }
}

@mixin message_text {
    .message_text {
        z-index: 4;
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Inter-Regular', sans-serif;
        font-size: 24px;
        color: $white;
    }
}


